@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

html {
    display: flex;
    justify-content: space-evenly;
    height: 100%;
}

body {
    align-self: center;
    background-color: #fdde7e;
}

.wrapper {
    display: flex;
    font-family: "Roboto Mono", sans-serif;
}

.all-cups {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ffffff;
    max-width: 360px;
    height: 440px;
    padding: 0 75px;
    margin: 25px;
    border-radius: 5px;
}

.price {
    color: #02995B;
    font-size: 4rem;
    margin: 0;
}

span {
    letter-spacing: -15px;
}

h3 {
    font-size: 3rem;
    margin: 0;
}

.description {
    width: 170px;
    text-align: center;
}


.all-cups:hover {
    transform: scale(1.2);
}